/* ////COLOR PALETTE/////
AOI 
  background: #69D2E7;
  background: rgba(105, 210, 231, 1); 
POND
  background: #A7DBD8;
  background: rgba(167, 219, 216, 1);
STORM
  background: #E0E4CC;
  background: rgba(224, 228, 204, 1);
GOLDFISH
  background: #F38630;
  background: rgba(243, 134, 48, 1);
PILL
  background: #FA6900;
  background: rgba(250, 105, 0, 1);
*/